// Animations
@mixin enlarge-10 {
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
}

@mixin enlarge-50 {
    -webkit-transform: scale(1.5); 
    -ms-transform: scale(1.5); 
    transform: scale(1.5);
}


@mixin enlarge-60 {
    -webkit-transform: scale(1.6); 
    -ms-transform: scale(1.6); 
    transform: scale(1.6);
}


@mixin enlarge-75 {
    -webkit-transform: scale(1.75); 
    -ms-transform: scale(1.75); 
    transform: scale(1.75);
}


@mixin enlarge-100 {
    -webkit-transform: scale(2); 
    -ms-transform: scale(2); 
    transform: scale(2);
}

@mixin enlarge-125 {
    -webkit-transform: scale(2.25); 
    -ms-transform: scale(2.25); 
    transform: scale(2.25);
}

@mixin enlarge-150 {
    -webkit-transform: scale(2.5); 
    -ms-transform: scale(2.5); 
    transform: scale(2.5);
}

@mixin disabled {
    pointer-events: none;
    cursor: default !important;
    opacity: 0.35 !important;
}