@import 'src/app/styles/_styles';

#page {
    margin: 24px 24px 24px 15px;
    color: #000000;
    background-color: #fff;
    // height: calc(100vh - 50px);
    font-size: 14px;

    #header {
        font-size: 36px;
        font-family: 'BrokenWings', Helvetica, Arial, sans-serif;
    }

    #main {
        // padding: 0 10px 0 5px;
        margin-left: 5px;
        margin-top: 5px; // not sure if I want but leaning on yes to separate content.
        font-family: 'Areminiscentsmile', Helvetica, Arial, sans-serif;
    }
}
.enabled {
    @include fade-in;
}
.disabled {
    @include disabled;
}

// Loading
$orange: #fc7753;
$green: #4ecdc4;
$blue: #312d45;
$red: #e84855;
$white: #f3f5f8;
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;

    .row { display: flex;} 
    .block {
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        border: solid 1px white;
    }

    $animation-speed: 0.6s;
    $interval: 0.15;
    
    .b1 {
        background-color: $orange;
        transform-origin: 100% 100%;
        animation: enlarge $animation-speed $interval * 0 + s ease infinite;
        border: 1px solid black;
    }
    .b2 {
        background-color: $green;
        transform-origin: 0% 100%;
        animation: enlarge $animation-speed $interval * 1 + s ease infinite;
        border: 1px solid black;
    }
    .b3 {
        background-color: gold;
        transform-origin: 100% 0%;
        animation: enlarge $animation-speed $interval * 3 + s ease infinite;
        border: 1px solid black;
    }
    .b4 {
        transform-origin: 0% 0%;
        background-color: $blue;
        animation: enlarge $animation-speed $interval * 2 + s ease infinite;
        border: 1px solid black;
    }
    @keyframes enlarge {
        from {transform: scale(1);}
        20% {transform: scale(1.2);}
        30% {transform: scale(1);}
        to {transform: scale(1);}
    }
}


// Fonts
// Font from https://www.fontfabric.com/fonts/sprite-graffiti/#font-styles
// More at https://cssauthor.com/free-graffiti-fonts-that-will-make-your-designs-pop/
@font-face {
    font-family: SpriteGraffiti;
    src: url('/assets/fonts/spritegraffiti/SpriteGraffiti-Regular.eot');
    src: url('/assets/fonts/spritegraffiti/SpriteGraffiti-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/spritegraffiti/SpriteGraffiti-Regular.woff2') format('woff2'), url('/assets/fonts/spritegraffiti/SpriteGraffiti-Regular.woff') format('woff'), url('/assets/fonts/spritegraffiti/SpriteGraffiti-Regular.ttf') format('truetype');
}
@font-face {
    font-family: BrokenWings;
    src: url('/assets/fonts/brokenwings/Broken-Wings.ttf') format('truetype');
}
@font-face {
    font-family: Plena;
    src: url('/assets/fonts/plena/Plena-Medium.otf') format('opentype');
}
@font-face {
    font-family: Plena-italic;
    src: url('/assets/fonts/plena/Plena-Mediumitalic.otf') format('opentype');
}
@font-face {
    font-family: Areminiscentsmile;
    src: url('/assets/fonts/areminiscentsmile/areminiscentsmile-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Areminiscentsmile-Oblique;
    src: url('/assets/fonts/areminiscentsmile/areminiscentsmile-RegularOblique.ttf') format('truetype');
}
@font-face {
    font-family: Areminiscentsmile-Thin;
    src: url('/assets/fonts/areminiscentsmile/areminiscentsmile-Thin.ttf') format('truetype');
}
@font-face {
    font-family: Areminiscentsmile-ThinOblique;
    src: url('/assets/fonts/areminiscentsmile/areminiscentsmile-ThinOblique.ttf') format('truetype');
}