<!-- @TODO: Button to show dates on top of blocks or not. By default, none.
    Active block does have the selected style though. -->
<div id="x-container">
    <div class="x-axis">
        <div class="line"></div>
        <div class="arrow">
            &#8250;      
        </div>
        <div class="label">Week</div>
    </div>
</div>
<div id="y-container">
    <div class="y-axis">
        <div class="line"></div>
        <div class="arrow">
            &#8250;      
        </div>
        <div class="label">Year</div>
    </div>
</div>
<div id="blocks">
    <div 
        *ngFor="let year of getObjectKeys(weeksByYear)"
        class="row">
        <span class="label">{{ year }}</span>
        <div 
            *ngFor="let week of weeksByYear[strToNum(year)]"
            id="{{ year+'_block_'+week.num }}"
            class="block">
            {{ week.num }}
        </div>
    </div>
</div>
<!-- <div id="chart-controls">
    <div class="control"
        (click)="zoomOut()">
        <svg width="30" height="30">
            <image attr.xlink:href="{{ 'assets/icons/zoom-out' }}" width="30" height="30"/>
        </svg>
    </div>
    <div class="control"
        (click)="zoomReset()">
        <svg width="30" height="30">
            <image attr.xlink:href="{{ 'assets/icons/zoom-reset' }}" width="30" height="30"/>
        </svg>
    </div>
    <div class="control"
        (click)="zoomIn()">
        <svg width="30" height="30">
            <image attr.xlink:href="{{ 'assets/icons/zoom-in' }}" width="30" height="30"/>
        </svg>
    </div>
</div> -->