#x-container {
    position: absolute;
    width: calc(100% - 135px);
    padding-left: 75px;
    background-color: white;

    .x-axis {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        max-height: 25px;

        .label {
            position: absolute;
            margin-left: calc(58% - 75px);
            background-color: white;
            padding: 0 10px;
        }
        .arrow {
            font-size: 13px;
            color: #23155F;
            margin-left: -10px;
        }
        .line {
            border-top: 1px solid #23155F;
            width: 100%;
            height: 0;
        }
    }
}

#y-container{
    position: absolute;
    height: calc(100vh - 115px);
    padding-top: 40px;
    background-color: white;

    .y-axis {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25px;
        max-width: 25px;
        height: 100%;

        .label {
            position: absolute;
            background-color: white;
            padding: 0 10px;
            transform: rotate(-90deg);
            margin-top: calc(48vw - 100px);
        }
        .arrow {
            font-size: 13px;
            color: #23155F;
            transform: rotate(90deg);
            margin-top: -10px;
        }
        .line {
            border-left: 1px solid #23155F;
            width: 0;
            height: 100%;
        }
    }
}

#blocks {
    overflow-x: auto;
    overflow-y: auto;
    padding: 37px 0 0 37px;
    max-height: calc(100vh - 115px);
    height: auto;
    width: auto;
    
    .label {
        margin-right: 10px;
        font-size: 10px;
        width: 25px;
        min-width: 25px;
        max-width: 25px;
    }

    .row {
        display: flex;
        padding: 2px;
    }
    .row:hover {
        background-color: #F5F7FA;
    }
    .row > * {
        margin-right: 10px;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #23155F;
        width: 25px;
        min-width: 25px;
        max-width: 25px;
    }
}