<div id="x-container" [ngClass]="{'enabled': !appLoading,'disabled': appLoading}">
    <div class="x-axis">
        <div class="line"></div>
        <div class="arrow">
            &#8250;      
        </div>
        <div class="label">Week</div>
    </div>
</div>
<div id="y-container" [ngClass]="{'enabled': !appLoading,'disabled': appLoading}">
    <div class="y-axis">
        <div class="line"></div>
        <div class="arrow">
            &#8250;      
        </div>
        <div class="label">Year</div>
    </div>
</div>
<div id="blocks" [ngClass]="{'enabled': !appLoading,'disabled': appLoading}">
    <!-- <app-year-row
        *ngFor="let year of years"
        [zoom]="zoom"
        [size]="size"
        [_year]="year"
        [thisYear]="thisYear"
    >
    </app-year-row> -->
    <div 
        *ngFor="let yearNum of hasValues(years); let i = index"
        class="row">
        <span class="label" [ngClass]="{'gold-underlined' : thisYear && thisYear === strToNum(yearNum)}">{{ yearNum }}</span>
        <app-block
            *ngFor="let week of getWeeksForYear(yearNum); let j = index"
            [size]="size"
            [zoom]="zoom"
            [year]="strToNum(yearNum)"
            [week]="week"
            [editing]="editing"
            (emitWeekSave)="saveWeekChange(strToNum(yearNum), $event)">
        </app-block>
        <span *ngIf="i === 89" style="display:none; width: 0; height: 0;">{{ viewAndAppReady() ? triggerJumpToBlock() : null }}</span>
    </div>
</div>
<div id="chart-controls" [ngClass]="{'border-grayed': appLoading}">
    <div id="size-picker" *ngIf="zoom" [ngClass]="{'disabled': appLoading}">
        <div *ngIf="!appLoading" class="label-slider">{{ !!sizeHrTemp? sizeHrTemp : sizeHr }} </div>
        <div *ngIf="appLoading" class="label-slider">
            <div class="dot1"> </div>
            <div class="dot2"></div>
            <div class="dot3"></div>
        </div>
        <summbit-discrete-slider
            id="summbit-discrete-slider-7"
            class="slider"
            (change)="changeZoom($event)"
            (input)="setSizeText($event)"
            [value]="floorVal(zoom)"
            min="0"
            max="7"
            orientation="top-to-bottom">
        </summbit-discrete-slider>
    </div>
</div>
<div *ngIf="editing" id="chart-action-bar">
    <div class="control"
        (click)="cancelEdits()"
        [ngClass]="{'enabled': !(zoom <= 0.5 || appLoading), 'disabled': zoom <= 0.5 || appLoading}">
        <svg width="17" height="17" style="color: red;">
            <image attr.xlink:href="{{ 'assets/icons/close-o.svg' }}" width="17" height="17"/>
        </svg>
    </div>
</div>