@import 'src/app/styles/_styles';

.block {
    display: flex;
    flex-direction: column;
    border: 1px solid #23155F;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;

    .progress {
        background-color: rgba(248,248,255,0.5);
        width: 100%;
        height: 3px;
        border-bottom: 1px solid black;

        .progress-bar {
            background-color: rgba(3, 201, 169, 1);
            width: 0%;
            height: 100%;
            float: right;
            border-left: 1px solid black;
        }
    }

    .spacer {
        width: 100%;
        height: 3px;
    }

    // We manually fix the title and move it-up overlaying the progress-bar.
    .title {
        display: flex;
        justify-content: space-between;
        font-size: 8px;
    }

    .title-z2 {
        font-size: 10px;
    }

    .title-z3 {
        font-size: 10px;
    }

    .bottom-border {
        border-bottom: 1px solid black;
    }

    .body {
        height: 100%;
        width: calc(100% - 10px);
        margin: 10px 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        overflow-x: hidden;
        overflow-y: auto;

        .entry {
            width: 100%;

            .value {
                float: left;
                width: 95%;
                cursor: pointer;
            }

            .value:hover {
                text-decoration: underline;
                text-decoration-color: gold;
            }

            input {
                font-size: 10px;
            }

            .button {
                float: right;
                margin-right: 2px;
                cursor: pointer;
            }
            
            .button:hover {
                transform: scale(1.1);
                background-color: gold;
            }

            .date {
                float: right;
                width: 10%;
                font-style: italic;
            }
        }
    }

    .body:hover {
        overflow-y: auto;
    }

    .body > * { margin-bottom: 3px; }

    .body-z1 {
        font-size: 8px;
        margin: 2px !important;
        width: calc(100%) !important;
    }

    .body-z2 {
        font-size: 8px;
    }

    .body-z3 {
        font-size: 10px;
    }

    .body-z3 {
        font-size: 10px;
    }

    .hidden {
        display: none;
    }

    .inline {
        display: inline;
    }

    .show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        color: black;
        transition: all 0.2s linear;

        .entry {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .entry > * {
            display: inline;
        }
    }
    
}
    
.past {
    background-color: rgba(248,248,255,0.5);
    border: 1px solid gray;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
}

.past-opacity {
    opacity: 0.55;
}

.now {
    opacity: 1.0;
}

.block:hover {
    background-color: white;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
}

// Helpers
.trim {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; // This is where the magic happens
}
.w80 { 
    width: 80%; max-width: 80%;
 }
.w90 { 
    width: 90%; max-width: 90%;
}